*{
      font-family: Helvetica Neue,Helvetica, Arial,sans-serif, khmer os battambang;
}

#header-menu{
  padding-right:0px;
   margin-bottom: 20px;
    font-size: 14px;    
    background-color: #2e128a;
    min-height: 64px;
    border-bottom: 3px solid #0000ff;
    
 }
  #menu{

  width:100%;  /*---Give our UL a width ---*/
  list-style:none;  /*--- Makes the bullets go away ---*/
  margin:0;  /*--- Take out any default margin on the UL tag ---*/
  padding:0;  /*--- Take out any default padding on the UL tag ---*/
  margin:0 auto;  /*--- Center the menu ---*/
}
 
#menu li{
  float:left;  
  background: #76ad94;
  /*--- Make the list go horizontal 
 margin-right: 10px;---*/
}
 
#menu li a{
     /*--- background: #d6b400;---*/
    text-decoration: none;
    text-align: center;
    width: 100%;
    display: block;
    height: auto;
    color: white;
    padding: 8px 10px;
    border-right: 1px solid #999;
 }

 #menu li a .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#menu li a:hover{
  text-decoration: none;
  text-align: center; 
  display: block;
  height: auto;
  color: lightblue;
}


.soria .dijitTextBox, .soria .dijitInputInner {
     color: #0d0452;   
    width: 100%;
    height: 34px;
    padding-bottom: 10px;
}
 .soria .dijitTextBox .dijitInputField {
    padding-top: 7px;
    padding-right: 2px;
    padding-bottom: 9px;
    padding-left: 2px;   
}

.soria .dijitButtonText {
    text-align: center;
    padding: 2px 0.3em;
    font-size: 16px;
}

.dijitValidationTextBoxError input.dijitValidationInner, .dijitSelect input, .dijitTextBox input.dijitArrowButtonInner {
    text-indent: -2em !important;
    direction: ltr !important;
    text-align: left !important;
    height: 32px;
}

 .dijitTextArea .dijitExpandingTextArea {      
    padding: 7px  2px;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table.dataTable.no-footer {
    border-bottom: 0.5px solid #2b29e;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 0.5px;
}

.table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0.5px solid #2e128a;
}

.table.dataTable {    
  border-collapse: collapse;
}


.panel .panel-heading{
  padding: 0px 15px; 
}

.panel-heading h3{
  font-size: 18px;
}
   
.form-control{
  border-radius: 0px;
}

.table-over tr:hover > td {
  background-color: #defff2;
}

.input-group #radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
.col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

#panel-property{
    margin-top:-20px;
    margin-right: -15px;
    margin-left: -40px;
}
#panel-dashboard{
  margin-bottom: 15px;margin-top: -10px; margin-left: -24px;
}
#panel-body-memu{
  margin-top: -25px; margin-left: -13px;
}
.btn-primary {
    color: #f1f1f1;
    background-color: #006ecc;
    border-color: #062b73;   
}
#btn-search-property{
    margin-top: -38px;
    margin-right: -14px;
}

#col-xs-3 {
    width: 24%;
}


#panel-customer{
    margin-top:-20px;
    margin-right: -15px;
    margin-left: -40px;
}
#panel-income{
    margin-top:-20px;
    margin-right: -15px;
    margin-left: -40px;
}

#panel-expense{
    margin-top:-20px;
    margin-right: -15px;
    margin-left: -40px;
}

#panel-edit{
    margin-top:-20px;
    margin-right: -15px;
    margin-left: -40px;
}

    fieldset 
  {
    border: 1px solid #006ff3 !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#f6fbfb;
    padding-left:10px!important;
  } 
  
    legend
    {
      font-size:14px;
      font-weight:bold;
      margin-bottom: 0px; 
      width: 100%; 
      border: 1px solid #ddd;
      border-radius: 4px; 
      padding: 5px 5px 5px 10px; 
      background-color: #ffffff;
    }


    .mcstyle{
        font-family: 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif; font-size: 0.9em; color: #535353!important;
}

  
  .with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
.form-group {
    margin-bottom: 1px;
}

a{
  cursor: pointer;
  color: blue;
}

.choose-picture{
  cursor: pointer;
}
.modal label{
  color: black;
}
/*=================left navibar begin=========================================*/

.gw-container.gw-main-container .gw-sidebar.gw-sidebar-fixed,
.gw-container.gw-main-container .gw-sidebar.gw-sidebar-fixed:before { left: auto }

.gw-sidebar {
  width: 320px;
  position: fixed;
  border: 1px solid #e5e5e5;
  border-width: 0 1px 0 0;
  background-color: #F2F2F2;
  bottom: 0;
  top: 0;
  left: 0;
}

.gw-sidebar .nano-pane {
  background: rgba(255, 255, 255, 0);
  font-size: 15px;
}

.gw-sidebar .gw-nav-list { border-right: 1px solid #CCC; }

.gw-sidebar .gw-nav-list li a { padding-left: 20px; }

.gw-nav-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.gw-nav-list>li:first-child { border-top: 0; }

.gw-nav-list>li {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  text-decoration: none;
}
 @-webkit-keyframes 
arrow-slide {  0% {
}
 100% {
-webkit-transform:rotate(225deg);
z-index:3
}
}
 @-webkit-keyframes 
arrow-slide1 {  0% {
}
 100% {
-webkit-transform:rotate(225deg);
z-index:3
}
}
